<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Clasificaciones</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1> Relación de Clasificaciones </h1>
    <div>
        <div id="formularioEntrada">
            <input type="text" id="txtDenominacion" name="txtDenominacion" placeholder="Denominacion" />
            <button id="btnInsertarClasificacion">Añadir</button>
        </div>
        <br />
        <div>
            <div id="mainContent"></div>
        </div>
        <br />
        <div id="formularioEdicion">
            <label for="txtNuevoDatoParaDenominacion">Valor a sustituir cuando pulse 'Editar':</label>
            <input type="text" id="txtNuevoDatoParaDenominacion" name="txtNuevoDatoParaDenominacion" placeholder="Valor para la edición" />
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="./js/clasificacion.js"></script>
    </div>
</body>
</html>
