<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Tipos de Animales</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1> Relación de Tipos de Animales </h1>
    
    <div id="formularioEntrada">
        <input type="text" id="txtDenominacion" name="txtDenominacion" placeholder="Denominacion" />
        <button id="btnInsertarTipoAnimal">Añadir</button>
    </div>
    <br />
    <div>
        <div id="mainContent"></div>
    </div>
    <br />
    <div id="formularioEdicion">
        <label for="txtNuevoDatoParaDenominacion">Valor a sustituir cuando pulse 'Editar':</label>
        <input type="text" id="txtNuevoDatoParaDenominacion" name="txtNuevoDatoParaDenominacion" placeholder="Valor para la edición" />
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./js/tipoAnimal.js"></script>
</body>
</html>
